.images {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.gallery-column {
  float: left;
  // width: 30%;
  box-sizing: border-box;
  margin: 1.5em 1.5em;
}

.what {
  margin: 0 auto;
  height: 400px;
  width: 70%;
  text-align: center;
}

.gallery-column img {
  object-fit: cover;
  width: 200px;
  height: 200px;
}
